<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>HibernateWebApp</display-name>
    <servlet>
        <display-name>Employee</display-name>
        <servlet-name>Employee</servlet-name>
        <servlet-class>com.axelor.servlet.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Success</display-name>
        <servlet-name>Success</servlet-name>
        <servlet-class>com.axelor.servlet.Success</servlet-class>
    </servlet>
    <servlet>
        <display-name>viewservlet</display-name>
        <servlet-name>viewservlet</servlet-name>
        <servlet-class>com.axelor.servlet.viewservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Employee</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Success</servlet-name>
        <url-pattern>/Success</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>viewservlet</servlet-name>
        <url-pattern>/viewdata</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>